## (작업형1) 연습문제

#### 1. Cars93 데이터셋의 Wheelbase 컬럼에 대해서 평균 값에서 표준편차의 1.5배, 2배, 2.5배를 더하거나 뺀 값들의 구간 내의 데이터들의 평균을 각각 구한 후 원래의 데이터 평균에서 뺐을 때 차이들의 합을 출력하여라. (단, 소수점 다섯째 자리에서 반올림하여 표현할 것)

In [1]:
import pandas as pd

df = pd.read_csv('../data/연습문제/Cars93.csv')
df.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [11]:
print('평균:', df['Wheelbase'].mean())
print('표준편차 1.5배:', df['Wheelbase'].std()*1.5)
print('표준편차 2배:', df['Wheelbase'].std()*2)
print('표준편차 2.5배:', df['Wheelbase'].std()*2.5)

평균: 103.98924731182795
표준편차 1.5배: 11.083539404102828
표준편차 2배: 14.77805253880377
표준편차 2.5배: 18.47256567350471

In [13]:
# 표준편차 1.5배
low1 = df['Wheelbase'].mean()-df['Wheelbase'].std()*1.5
high1 = df['Wheelbase'].mean()+df['Wheelbase'].std()*1.5

print(df['Wheelbase'][(df['Wheelbase'] > low1) & (df['Wheelbase'] < high1)].mean())

# 표준편차 2배
low2 = df['Wheelbase'].mean()-df['Wheelbase'].std()*2
high2 = df['Wheelbase'].mean()+df['Wheelbase'].std()*2

print(df['Wheelbase'][(df['Wheelbase'] > low2) & (df['Wheelbase'] < high2)].mean())

# 표준편차 3배
low3 = df['Wheelbase'].mean()-df['Wheelbase'].std()*2.5
high3 = df['Wheelbase'].mean()+df['Wheelbase'].std()*2.5

print(df['Wheelbase'][(df['Wheelbase'] > low3 )& (df['Wheelbase'] < high3)].mean())

103.69411764705882
103.81111111111112
103.97802197802197

In [16]:
orig_mean = df['Wheelbase'].mean()

result1 = orig_mean-df['Wheelbase'][(df['Wheelbase'] > low1) & (df['Wheelbase'] < high1)].mean()
result2 = orig_mean-df['Wheelbase'][(df['Wheelbase'] > low2) & (df['Wheelbase'] < high2)].mean()
result3 = orig_mean-df['Wheelbase'][(df['Wheelbase'] > low3 )& (df['Wheelbase'] < high3)].mean()

print(round(result1+result2+result3, 4))

0.4845

In [18]:
# 반복문으로 간결하게
times = [1.5, 2, 2.5]

orig_mean = df['Wheelbase'].mean()
std = df['Wheelbase'].std()

sum_ = 0
for t in times:
    low = orig_mean-std*t
    high = orig_mean+std*t
    
    result = orig_mean-df['Wheelbase'][(df['Wheelbase'] > low) & (df['Wheelbase'] < high)].mean()
    sum_ += result
print(round(sum_, 4))

0.4845

---

#### 2.Cars93 데이터셋의 Length 컬럼에 대해서 순위를 부여한 후, 1위부터 30위까지 값들의 표준편차를 구하고 소수점 셋째 자리까지 반올림하여 나타내어라. (단, 동점은 동일한 순위를 부여하되 평균내어 등수를 산정하며 최솟값을 1위로 할 것)

In [20]:
df.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [32]:
# 평균내어 등수 산정 method='average'
df['length_rank'] = df['Length'].rank(method='average')
df['length_rank']

0     32.5
1     75.5
2     40.5
3     71.5
4     54.0
      ...
88    56.0
89    40.5
90     4.0
91    65.0
92    50.0
Name: length_rank, Length: 93, dtype: float64

In [35]:
df.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make,length_rank
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,...,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra,32.5
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend,75.5
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90,40.5
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100,71.5
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i,54.0

In [36]:
df[df['length_rank']<=5]

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make,length_rank
30,Ford,Festiva,Small,6.9,7.4,7.9,31,33,None,Front,...,90,63,33.0,26.0,12.0,1845,USA,30,Ford Festiva,1.0
38,Geo,Metro,Small,6.7,8.4,10.0,46,50,None,Front,...,93,63,34.0,27.5,10.0,1695,non-USA,38,Geo Metro,3.0
79,Subaru,Justy,Small,7.3,NaN,9.5,33,37,None,4WD,...,90,60,32.0,23.5,10.0,2045,non-USA,79,Subaru Justy,2.0
82,Suzuki,Swift,Small,7.3,8.6,10.0,39,43,None,Front,...,93,63,34.0,27.5,10.0,1965,non-USA,82,Suzuki Swift,5.0
90,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18,25,None,Front,...,97,66,36.0,26.0,15.0,2810,non-USA,90,Volkswagen Corrado,4.0

In [40]:
# 1위~30위까지 값 표준편차
print(round(df['Length'][df['length_rank']<=30].std(), 3))

8.884

---

#### 3. Cars93 데이터셋의 Max_Price 컬럼과 Min_Price 컬럼에 대해서 각각 정렬한 후 정렬된 순서에 따라 레코드별로 Max_Price와 Min_Price의 차이를 산출하고 차이값에 대해 표준편차를 구하여라. (단, Max_Price의 정렬은 내림차순, Min_Price의 정렬은 오름차순으로 하며, 출력시 표준편차는 소수점 넷째 자리에서 반올림하여 표현할 것)

In [26]:
# max price 내림차순 정렬 / min price 오름차순 정렬
### ignore_index 무조건!
# 메소드 .sort_values()에 ignore_index = True을 하지 않을 경우
# 정렬과 무관하게 정렬 전의 인덱스가 같은 값들끼리 차이를 계산하게 됨
sort_by_max = df['Max_Price'].sort_values(ascending=False, ignore_index=True)
sort_by_max.head()

0    80.0
1    50.4
2    44.6
3    42.7
4    41.5
Name: Max_Price, dtype: float64

In [27]:
sort_by_min = df['Min_Price'].sort_values(ignore_index=True)
sort_by_min.head()

0    6.7
1    6.8
2    6.9
3    7.3
4    7.3
Name: Min_Price, dtype: float64

In [28]:
result = (sort_by_max - sort_by_min).std()
print(round(result, 3))

18.584

---

#### 4. Cars93 데이터셋의 Weight 컬럼을 Min-Max 정규화로 변환한 후, 0.5보다 작은 값들의 분산과 0.5보다 큰 값들의 분산의 차이를 구하여라.(단, 차이는 큰 값에서 작은 값을 빼서 구하며, 소수점 넷째 자리에서 반올림하여 표현할 것)

In [29]:
df = pd.read_csv('../data/연습문제/Cars93.csv')

In [31]:
min_max_gen = (df['Weight'] - df['Weight'].min())/(df['Weight'].max() - df['Weight'].min())
min_max_gen

0     0.375212
1     0.536259
2     0.501413
3     0.507063
4     0.551328
        ...
88    0.611603
89    0.427953
90    0.394990
91    0.427953
92    0.476926
Name: Weight, Length: 93, dtype: float64

In [36]:
# 0.5보다 작은 값들의 분산과 0.5보다 큰 값들의 분산의 차이
smaller = min_max_gen[min_max_gen < 0.5].std()
smaller = smaller ** 2

bigger = min_max_gen[min_max_gen > 0.5].std()
bigger = bigger ** 2

print(round(abs(smaller-bigger), 3))

0.001

---

#### 5. Cars93 데이터셋을 이용하여 Manufacturer, Origin 컬럼의 유일값 조합의 수와 Manufacturer 컬럼의 앞 두글자만 추출한 결과와 Origin 컬럼과의 유일값 조합  수의 차이를 구하여라. (단, 원래 유일값 조합 수에서 추출 이후 수를 뺄 것)

In [37]:
df = pd.read_csv('../data/연습문제/Cars93.csv')

In [53]:
#### df.drop_duplicates(): 컬럼의 중복 제거
uniques = df[['Manufacturer', 'Origin']].drop_duplicates()
uniques

     Manufacturer   Origin
0           Acura  non-USA
2            Audi  non-USA
4             BMW  non-USA
5           Buick      USA
9        Cadillac      USA
11      Chevrolet      USA
19       Chrylser      USA
20       Chrysler      USA
22          Dodge      USA
28          Eagle      USA
30           Ford      USA
38            Geo  non-USA
40          Honda  non-USA
43        Hyundai  non-USA
47       Infiniti  non-USA
48          Lexus  non-USA
50        Lincoln      USA
52          Mazda  non-USA
57  Mercedes-Benz  non-USA
59        Mercury      USA
61     Mitsubishi  non-USA
63         Nissan  non-USA
67     Oldsmobile      USA
71       Plymouth      USA
72        Pontiac      USA
77           Saab  non-USA
78         Saturn      USA
79         Subaru  non-USA
82         Suzuki  non-USA
83         Toyota  non-USA
87     Volkswagen  non-USA
91          Volvo  non-USA

In [58]:
df['manu'] = df['Manufacturer'].str[:2]
uniques2 = df[['manu', 'Origin']].drop_duplicates()
print(len(uniques)-len(uniques2))

4

---

#### 6. Cars93 데이터셋을 이용하여 컬럼 Type, Man_trans_avail에 대한 그룹별 RPM 레코드수와 RPM 합계, 중앙값을 모두 구한 후, 그룹별 중앙값에서 그룹별 합계에서 레코드 수를 나눈 값들을 빼서 나온 결과의 총 원소 합을 구하여라. (단, 출력시 소수점은 첫째 자리에서 반올림하여 표현할 것)

In [61]:
df = pd.read_csv('../data/연습문제/Cars93.csv')

df['RPM']

0     6300.0
1     5500.0
2     5500.0
3     5500.0
4     5700.0
       ...
88    4500.0
89    5800.0
90    5800.0
91    5400.0
92    6200.0
Name: RPM, Length: 93, dtype: float64

In [66]:
counts = df.groupby(['Type', 'Man_trans_avail'])['RPM'].count()
sum_ = df.groupby(['Type', 'Man_trans_avail'])['RPM'].sum()
median = df.groupby(['Type', 'Man_trans_avail'])['RPM'].median()

In [77]:
round(sum(median - sum_/counts), 0)

442.0

----

#### 연습문제7. Cars93 데이터셋을 이용하여 RPM 컬럼의 결측치를 평균으로 대체하고 RPM와 Wheelbase 컬럼을 각각 z-점수 표준화한 후 표준화된 Wheelbase에 상수 –36을 곱한 값과 표준화된 RPM 컬럼의 차이값을 구하고 표준편차를 산출하여라. (단, 소숫점 셋째 자리까지 반올림하여 표현할 것)

In [80]:
df = pd.read_csv('../data/연습문제/Cars93.csv')

len(df['RPM'].isnull())

93

In [95]:
# 결측값을 평균으로 대체
# fillna(): 결측값 대체
df['RPM'] = df['RPM'].fillna(df['RPM'].mean())

# z-점수 표준화 = (x-평균) / 표준편차
rpm_z = (df['RPM'] - df['RPM'].mean())/df['RPM'].std()
wheel_z = (df['Wheelbase'] - df['Wheelbase'].mean())/df['Wheelbase'].std()

result = wheel_z*(-36) - rpm_z
result = result.std()
# 차이값 구하고 표준편차 산출
round(result, 3)

35.561

----

#### 연습문제8. Cars93 데이터셋을 이용하여 먼저, Price 컬럼의 결측치를 평균으로 대체하고 Max_Price 변수와 Min_Price의 평균보다 작은 레코드만을 추출해 산출된 Origin 그룹별 Price의 합계를 구하고 다음으로 Price 컬럼의 결측치를 중앙값으로 대체하고 Price 컬럼이 Min_Price 컬럼의 제 3사분위수보다 작은 레코드만을 추출해 산출된 Origin별 Price의 합계를 Origin 그룹별로 합한 후 큰 값을 출력하여라. (단, 소숫점 이하는 모두 절삭하여 정수로 표현할 것)

In [19]:
import pandas as pd
df = pd.read_csv('../data/연습문제/Cars93.csv')
df1 = df.copy()
df2 = df.copy()

# price 결측값 평균으로 대체
df1['Price'] = df1['Price'].fillna(df1['Price'].mean())

origin_price_sum = df1[df1['Price']<(df1['Max_Price']+df1['Min_Price'])/2].groupby('Origin')['Price'].sum()
origin_price_sum

Origin
USA        277.138095
non-USA    262.595238
Name: Price, dtype: float64

In [20]:
# price 결측값 중앙값으로 대체
df2['Price'] = df2['Price'].fillna(df2['Price'].median())

origin_price_sum2 = df2[df2['Price']<(df2['Min_Price'].quantile(0.75))].groupby('Origin')['Price'].sum()
origin_price_sum2

Origin
USA        579.70
non-USA    424.35
Name: Price, dtype: float64

In [22]:
int(max(origin_price_sum + origin_price_sum2))

856

----

#### 연습문제9. Cars93 데이터셋에서 ‘Price’ 컬럼은 ‘Min_Price’와 ‘Max_Price’의 평균으로 알려져있다. 이와 같은 사실을 통해 ‘Price’ 컬럼의 결측치의 원래의 값을 계산한 후, ‘Price’가 14.7보다 작거나 25.3보다 크면서 ‘Large’ 타입인 레코드 수를 계산하여라.

In [34]:
df = pd.read_csv('../data/연습문제/Cars93.csv')

df['Price'] = df['Price'].fillna((df['Max_Price']+df['Min_Price'])/2)
counts = len(df[(df['Price'] < 14.7 )| ((df['Price'] > 25.3) & (df['Type']=='Large'))])   # shape[0]: 행 개수

In [35]:
counts

35

----

#### 연습문제10. Cars93 데이터셋에서 ‘Make’ 컬럼을 이용하여 제조사가 ‘Chevrolet’, ‘Pontiac’, ‘Hyundai’이면서 ‘AirBags’이 ‘Driver’에만 있는 경우의 레코드 수를 계산하여라.

In [36]:
df = pd.read_csv('../data/연습문제/Cars93.csv')

df.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [60]:
# 공백문자 확인
df['Make'][df['Make'].str[0] == ' ']

12       Chevrolet Corsica
16         Chevrolet Astro
72          Pontiac LeMans
74        Pontiac Firebird
Name: Make, dtype: object

In [61]:
df['Make'] = df['Make'].str.strip()

In [62]:
result = len(df[(df['Make'].str.startswith(('Chevrolet', 'Pontiac', 'Hyundai'))) &(df['AirBags'] == 'Driver only')])

In [63]:
result

3

# (끝)