## PART 02) 데이터 다루기

### 1절. Series와 DataFrame
#### 1. Series(시리즈)

In [1]:
import pandas as pd
import numpy as np

In [2]:
# series 생성

series1 = pd.Series(['a', 'b', 'c'])
print(series1)

0    a
1    b
2    c
dtype: object

In [7]:
series2 = pd.Series(range(5))
print(series2)

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [9]:
# 인덱스 지정
idx = ['A', 'B', 'C', 'D', 'E']
series3 = pd.Series(range(5), idx)
print(series3)

A    0
B    1
C    2
D    3
E    4
dtype: int64

In [12]:
dict = {1: '이유리', 2:'최민준', 3:None}
series4 = pd.Series(dict)
print(series4)

1     이유리
2     최민준
3    None
dtype: object

In [13]:
series4.values

array(['이유리', '최민준', None], dtype=object)

In [14]:
series4.index

Int64Index([1, 2, 3], dtype='int64')

In [17]:
series4.size

3

In [20]:
series2.dtypes

dtype('int64')

In [21]:
series1.index = [1, 2, 3]
print(series1)

1    a
2    b
3    c
dtype: object

In [22]:
# 인덱싱/슬라이싱
series3[:3]

A    0
B    1
C    2
dtype: int64

In [25]:
series3[0]

0

In [26]:
series3[2]

2

In [27]:
series3

A    0
B    1
C    2
D    3
E    4
dtype: int64

In [28]:
series3.index[0]

'A'

In [29]:
series3.values[0]

0

In [30]:
print(series3.values[0] == series3[0])

True

In [31]:
series3['A']

0

#### 시리즈의 통계 메소드

In [34]:
sr_1 = pd.Series(range(100)) # 시리즈 생성

# describe()
# 시리즈객체의 요약 통계량에 대한 정보
# 총 객체수, 평균, 표준편차, 최솟값, 제1사분위수, 중앙값, 제3사분위수, 최댓값, 데이터타입
sr_1.describe()

count    100.000000
mean      49.500000
std       29.011492
min        0.000000
25%       24.750000
50%       49.500000
75%       74.250000
max       99.000000
dtype: float64

In [35]:
# describe에서 각 통계량 가져오기
print(sr_1.describe()['count'])
print(sr_1.describe()['max'])

100.0
99.0

In [42]:
# .count()
# 시리즈객체의 총 객체수
sr_1.count()

100

In [44]:
sr_1[:5]

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [49]:
# 특정값 개수 세기
sr_2 = pd.Series({1:'a', 2:'a', 3:'b', 4:'c', 5:'z', 6:'s', 7:'s', 8:'c', 9:'c'})
sr_2.count()

9

In [51]:
sr_2.value_counts()['a']

2

In [52]:
sr_2.value_counts().get('x', 0)          # .get(a, default): a의 개수를 가져옴. 없을 경우 0 리턴

0

In [55]:
sr_2.value_counts().get('c', 0)/len(sr_2)

0.3333333333333333

In [56]:
# .mean()
# 시리즈객체의 평균
sr_1.mean()        # sum(sr_1)/len(sr_1)

49.5

In [63]:
# .var()
# 시리즈객체의 분산
print(sr_1.var())

# .std()
# 시리즈객체의 표준편차 = 분산의 제곱근(√분산)
print(sr_1.std())

# .min()
# 시리즈객체의 최솟값
print(sr_1.min())

# .max()
# 시리즈객체의 최댓값
print(sr_1.max())

# .median()
# 시리즈객체의 중앙값
print(sr_1.median())

841.6666666666666
29.011491975882016
0
99
49.5

In [66]:
# .quantile()
# 시리즈객체의 q*100% 백분위수

sr_1.quantile()        # 디폴트 = 중앙값(q2)

49.5

In [67]:
sr_1.median()

49.5

In [70]:
print(sr_1.quantile(q=0.25))       # q1
print(sr_1.quantile(q=0.75))       # q3

IQR = sr_1.quantile(q=0.75)-sr_1.quantile(q=0.25)
print(IQR)   
      
# 이상치
# Q1-1.5*IQR < x or x > Q3+1.5*IQR
print(sr_1.quantile(q=0.25)-1.5*IQR)
print(sr_1.quantile(q=0.75)+1.5*IQR)

24.75
74.25
49.5
-49.5
148.5

In [80]:
sr_2 = pd.Series(['a','b','b','b','c','c','d']) # 시리즈 생성

# describe()
# 총 객체수, 유일값, 최빈값, 최빈값의 빈도
print(sr_2.describe())
print()

# .unique()
# 시리즈객체의 유일값을 1d-array로 반환
print(sr_2.unique())
print(set(sr_2))           # set은 순서를 보장하지 않음. 웬만하면 unique()를 쓰자

# .mode()
# 시리즈객체의 최빈값을 시리즈로 반환
print(sr_2.mode())
print(max(sr_2.value_counts()))

count     7
unique    4
top       b
freq      3
dtype: object

['a' 'b' 'c' 'd']
{'c', 'd', 'b', 'a'}
0    b
dtype: object
3