## 작업형 1유형
- 3문제, 총 30점

#### 1. Rabbit 데이터셋을 불러와 Dose 컬럼의 제3사분위수와 제2사분위수를 구하고 두 값의 차이의 절댓값을 구한 후 소수점을 버린 값을 출력

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/모의고사/03회/Rabbit.csv')
df.head()

   BPchange    Dose Run Treatment Animal
0       0.5    6.25  C1   Control     R1
1       4.5   12.50  C1   Control     R1
2      10.0   25.00  C1   Control     R1
3      26.0   50.00  C1   Control     R1
4      37.0  100.00  C1   Control     R1

In [4]:
dose_q3 = df['Dose'].quantile(0.75)
dose_q2 = df['Dose'].median()             # 2사분위수 = 중앙값
dose_q3, dose_q2

(100.0, 37.5)

In [8]:
abs(dose_q3-dose_q2)

62.5

In [9]:
result = round(abs(dose_q3-dose_q2))

In [10]:
result

62

#### 2. Boston 데이터셋을 불러와 medv 컬럼에 대해 동일한 폭으로 binning한 후 가장 많은 빈도를 가지는 구간을 산출하고 해당 구간 내 dis 컬럼의 중앙값을 구하여라. (폭은 10을 기준으로 하고 소수점은 둘째 자리까지)

In [21]:
boston = pd.read_csv('../data/모의고사/03회/Boston.csv')
boston.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [22]:
## cut(): 동일한 폭으로 binning

new_medv = pd.cut(boston['medv'], bins=10)
new_medv

0      (23.0, 27.5]
1      (18.5, 23.0]
2      (32.0, 36.5]
3      (32.0, 36.5]
4      (32.0, 36.5]
           ...
501    (18.5, 23.0]
502    (18.5, 23.0]
503    (23.0, 27.5]
504    (18.5, 23.0]
505     (9.5, 14.0]
Name: medv, Length: 506, dtype: category
Categories (10, interval[float64, right]): [(4.955, 9.5] < (9.5, 14.0] < (14.0, 18.5] < (18.5, 23.0] ... (32.0, 36.5] < (36.5, 41.0] < (41.0, 45.5] < (45.5, 50.0]]

In [24]:
new_medv.value_counts()

(18.5, 23.0]    154
(14.0, 18.5]     85
(23.0, 27.5]     84
(9.5, 14.0]      55
(27.5, 32.0]     39
(32.0, 36.5]     29
(4.955, 9.5]     22
(45.5, 50.0]     21
(41.0, 45.5]     10
(36.5, 41.0]      7
Name: medv, dtype: int64

In [25]:
dis_median = boston['dis'][(boston['medv'] > 18.5) & (boston['medv'] <= 23.0)].median()
dis_median

3.6588000000000003

In [26]:
round(dis_median, 2)

3.66

#### 3. Melanoma 데이터셋을 불러와 1번째-122번째 레코드와 123번째 이후 레코드로 데이터셋을 분리하고 데이터셋별로 thickness 컬럼을 z-score 정규화로 변환한 후 -1과 1사이 값들의 중앙값을 산출한 후 합계를 구하기. (단, z-score 정규화 변환 계산에 사용되는 평균과 표준편차는 분리된 것과 관계 없이 1번째~123번째 레코드로 이루어진 데이터셋을 기준으로 하고 출력시 소수점 넷째 자리까지 반올림)

In [65]:
mel = pd.read_csv('../data/모의고사/03회/Melanoma.csv')
mel.head()

   time  status  sex  age  year  thickness  ulcer
0    10       3    1   76  1972       6.76      1
1    30       3    1   56  1968       0.65      0
2    35       2    1   41  1977       1.34      0
3    99       3    0   71  1968       2.90      0
4   185       1    1   52  1965      12.08      1

In [66]:
mel.shape

(205, 7)

In [67]:
mel.iloc[1, :]

time           30.00
status          3.00
sex             1.00
age            56.00
year         1968.00
thickness       0.65
ulcer           0.00
Name: 1, dtype: float64

In [68]:
mel.iloc[122, :]

time         2209.00
status          2.00
sex             0.00
age            72.00
year         1971.00
thickness       9.66
ulcer           0.00
Name: 122, dtype: float64

In [69]:
splited1 = mel.iloc[:123, :]
splited2 = mel.iloc[123:, :]
splited1

     time  status  sex  age  year  thickness  ulcer
0      10       3    1   76  1972       6.76      1
1      30       3    1   56  1968       0.65      0
2      35       2    1   41  1977       1.34      0
3      99       3    0   71  1968       2.90      0
4     185       1    1   52  1965      12.08      1
..    ...     ...  ...  ...   ...        ...    ...
118  2112       2    0   54  1972       1.94      1
119  2150       2    0   33  1972       0.65      0
120  2156       2    0   45  1972       0.97      0
121  2165       2    1   62  1972       5.64      0
122  2209       2    0   72  1971       9.66      0

[123 rows x 7 columns]

In [70]:
#  thickness 컬럼을 z-score 정규화로 변환
### z-score: (값 - 평균) / 표준편차

std1 = (splited1['thickness']-splited1['thickness'].mean())/splited1['thickness'].std()
std2 = (splited2['thickness']-splited1['thickness'].mean())/splited1['thickness'].std()
splited1['thickness'] = std1
splited2['thickness'] = std2

C:\Users\ing06\AppData\Local\Temp\ipykernel_7684\3396524650.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  splited1['thickness'] = std1
C:\Users\ing06\AppData\Local\Temp\ipykernel_7684\3396524650.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  splited2['thickness'] = std2

In [71]:
splited1.head()

   time  status  sex  age  year  thickness  ulcer
0    10       3    1   76  1972   1.051836      1
1    30       3    1   56  1968  -0.791778      0
2    35       2    1   41  1977  -0.583579      0
3    99       3    0   71  1968  -0.112869      0
4   185       1    1   52  1965   2.657077      1

In [72]:
#  -1과 1사이 값들의 중앙값을 산출한 후 합계를 구하기
median1 = splited1['thickness'][(std1>=-1) & (std1<=1)].median()
median2 = splited2['thickness'][(std2>=-1) & (std2<=1)].median()
result = median1+median2
result

-1.0027116534781082

In [73]:
round(result, 4)

-1.0027

## 작업형 2유형
- 1문제, 총 40점

#### 1. 호주 기상관측 데이터를 이용해 예측모형 만들기
#### 학습용 데이터를 이용해 기상 여부 예측 모형을 만든 후 이를 평가용 데이터에 적용해 얻은 5,794일의 기상 여부 예측값을 CSV 파일로 생성. 제출한 모델의 성능은 AUC 평가지표에 따라 채점)

In [215]:
import pandas as pd

X_train = pd.read_csv('../data/모의고사/03회/weatherAUS_X_train.csv')
X_test = pd.read_csv('../data/모의고사/03회/weatherAUS_X_test.csv')
y_train = pd.read_csv('../data/모의고사/03회/weatherAUS_y_train.csv')
y_test = pd.read_csv('../data/모의고사/03회/weatherAUS_y_test.csv')

In [216]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((11714, 20), (11714, 2), (5794, 20), (5794, 2))

In [217]:
X_train.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,2016-01-01,Albury,20.4,37.6,0.0,ENE,54.0,NaN,ESE,0.0,7.0,46.0,17.0,1013.4,1009.2,7.0,3.0,26.1,36.7,No
1,2016-01-02,Albury,20.9,33.6,0.4,SSE,50.0,SSE,SE,9.0,17.0,54.0,30.0,1011.1,1008.4,8.0,8.0,24.8,31.7,No
2,2016-01-03,Albury,18.4,23.1,2.2,ENE,48.0,ESE,ENE,11.0,39.0,62.0,67.0,1014.0,1014.8,8.0,8.0,21.8,19.5,Yes
3,2016-01-04,Albury,17.3,23.7,15.6,SSE,39.0,SE,SSE,9.0,17.0,74.0,65.0,1017.9,1016.5,8.0,8.0,19.2,21.6,Yes
4,2016-01-05,Albury,15.5,22.9,6.8,ENE,31.0,SE,SSE,6.0,9.0,92.0,63.0,1016.3,1013.9,8.0,8.0,17.2,22.2,Yes

In [218]:
X_train.isnull().sum()

Date                0
Location            0
MinTemp            56
MaxTemp            52
Rainfall           84
WindGustDir       641
WindGustSpeed     641
WindDir9am        841
WindDir3pm        587
WindSpeed9am       81
WindSpeed3pm      536
Humidity9am        64
Humidity3pm       744
Pressure9am      1211
Pressure3pm      1215
Cloud9am         4777
Cloud3pm         5599
Temp9am            40
Temp3pm           727
RainToday          84
dtype: int64

In [219]:
X_test.isnull().sum()

Date                0
Location            0
MinTemp            20
MaxTemp            12
Rainfall           83
WindGustDir       347
WindGustSpeed     347
WindDir9am        149
WindDir3pm        260
WindSpeed9am       21
WindSpeed3pm      248
Humidity9am       116
Humidity3pm       449
Pressure9am       605
Pressure3pm       606
Cloud9am         2566
Cloud3pm         3075
Temp9am            17
Temp3pm           355
RainToday          83
dtype: int64

In [220]:
y_train.isnull().sum()

Date            0
RainTomorrow    0
dtype: int64

In [221]:
y_test.head()

         Date RainTomorrow
0  2016-09-01           No
1  2016-09-02          Yes
2  2016-09-03           No
3  2016-09-04           No
4  2016-09-05           No

In [222]:
y_train['RainTomorrow'] = y_train['RainTomorrow'].replace('Yes', 1)
y_train['RainTomorrow'] = y_train['RainTomorrow'].replace('No', 0)

y_test['RainTomorrow'] = y_test['RainTomorrow'].replace('Yes', 1)
y_test['RainTomorrow'] = y_test['RainTomorrow'].replace('No', 0)

In [223]:
# 결측값 평균으로 대체

# 결측값이 있는 컬럼
cols = X_train.columns[2:]
cols

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'WindGustDir', 'WindGustSpeed',
       'WindDir9am', 'WindDir3pm', 'WindSpeed9am', 'WindSpeed3pm',
       'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am',
       'Cloud3pm', 'Temp9am', 'Temp3pm', 'RainToday'],
      dtype='object')

In [224]:
X_train[cols] = X_train[cols].fillna(X_train[cols].mean())
X_test[cols] = X_test[cols].fillna(X_test[cols].mean())

C:\Users\ing06\AppData\Local\Temp\ipykernel_7684\1721494836.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  X_train[cols] = X_train[cols].fillna(X_train[cols].mean())
C:\Users\ing06\AppData\Local\Temp\ipykernel_7684\1721494836.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  X_test[cols] = X_test[cols].fillna(X_test[cols].mean())

In [225]:
X_train.isnull().sum()

Date               0
Location           0
MinTemp            0
MaxTemp            0
Rainfall           0
WindGustDir      641
WindGustSpeed      0
WindDir9am       841
WindDir3pm       587
WindSpeed9am       0
WindSpeed3pm       0
Humidity9am        0
Humidity3pm        0
Pressure9am        0
Pressure3pm        0
Cloud9am           0
Cloud3pm           0
Temp9am            0
Temp3pm            0
RainToday         84
dtype: int64

In [226]:
X_train['WindGustDir']

0        ENE
1        SSE
2        ENE
3        SSE
4        ENE
        ...
11709      N
11710    NNW
11711    WSW
11712    WNW
11713    NNE
Name: WindGustDir, Length: 11714, dtype: object

In [227]:
X_train['WindDir9am']

0        NaN
1        SSE
2        ESE
3         SE
4         SE
        ...
11709     NE
11710      S
11711     SW
11712    WSW
11713      E
Name: WindDir9am, Length: 11714, dtype: object

In [228]:
X_train['RainToday']

0         No
1         No
2        Yes
3        Yes
4        Yes
        ...
11709     No
11710     No
11711    Yes
11712    Yes
11713     No
Name: RainToday, Length: 11714, dtype: object

In [229]:
X_train['RainToday'] = X_train['RainToday'].replace('No', 0)
X_train['RainToday'] = X_train['RainToday'].replace('Yes', 1)
X_test['RainToday'] = X_test['RainToday'].replace('No', 0)
X_test['RainToday'] = X_test['RainToday'].replace('Yes', 1)

In [230]:
# Wind 컬럼 삭제
winds = ['WindGustDir', 'WindDir9am', 'WindDir3pm']
X_train = X_train.drop(winds, axis=1)
X_test = X_test.drop(winds, axis=1)

In [231]:
# RainToday 컬럼도 삭제
X_train = X_train.drop('RainToday', axis=1)
X_test = X_test.drop('RainToday', axis=1)

In [232]:
X_train.isnull().sum()

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
WindGustSpeed    0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
dtype: int64

In [233]:
# 피쳐 선택
X_train = X_train.iloc[:, 2:]
X_train

,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
0,20.4,37.6,0.0,54.0,0.0,7.0,46.0,17.0,1013.4,1009.2,7.000000,3.000000,26.1,36.7
1,20.9,33.6,0.4,50.0,9.0,17.0,54.0,30.0,1011.1,1008.4,8.000000,8.000000,24.8,31.7
2,18.4,23.1,2.2,48.0,11.0,39.0,62.0,67.0,1014.0,1014.8,8.000000,8.000000,21.8,19.5
3,17.3,23.7,15.6,39.0,9.0,17.0,74.0,65.0,1017.9,1016.5,8.000000,8.000000,19.2,21.6
4,15.5,22.9,6.8,31.0,6.0,9.0,92.0,63.0,1016.3,1013.9,8.000000,8.000000,17.2,22.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11709,3.4,26.1,0.0,44.0,11.0,24.0,49.0,18.0,1020.4,1015.9,4.931527,5.018152,11.4,25.0
11710,7.4,27.1,0.0,59.0,2.0,35.0,49.0,21.0,1014.9,1009.6,8.000000,8.000000,14.4,25.8
11711,14.2,14.4,9.2,31.0,24.0,9.0,93.0,100.0,1013.1,1010.8,8.000000,8.000000,14.2,14.0
11712,11.5,22.9,16.0,28.0,7.0,13.0,96.0,32.0,1018.0,1015.2,7.000000,5.018152,12.6,21.9
11713,7.4,24.2,0.2,26.0,9.0,7.0,69.0,32.0,1020.1,1015.1,4.931527,5.018152,14.6,23.4

In [234]:
X_test.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
0,2016-09-01,Albury,8.5,16.7,0.4,17.0,0.0,11.0,96.0,65.0,1020.0,1016.1,8.000000,7.0,12.3,15.8
1,2016-09-02,Albury,6.1,13.9,0.2,37.0,6.0,7.0,87.0,76.0,1012.1,1005.6,4.965923,8.0,10.1,13.5
2,2016-09-03,Albury,9.6,16.6,33.6,48.0,15.0,31.0,90.0,60.0,1003.4,1008.8,6.000000,1.0,11.4,15.1
3,2016-09-04,Albury,7.7,15.1,0.6,26.0,20.0,13.0,82.0,66.0,1023.7,1025.4,8.000000,7.0,10.8,14.0
4,2016-09-05,Albury,4.4,15.9,0.0,24.0,4.0,13.0,93.0,63.0,1031.3,1029.1,8.000000,7.0,10.4,14.7

In [235]:
X_test = X_test.iloc[:, 2:]
X_test

,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
0,8.5,16.7,0.4,17.0,0.0,11.0,96.0,65.0,1020.0,1016.1,8.000000,7.000000,12.3,15.8
1,6.1,13.9,0.2,37.0,6.0,7.0,87.0,76.0,1012.1,1005.6,4.965923,8.000000,10.1,13.5
2,9.6,16.6,33.6,48.0,15.0,31.0,90.0,60.0,1003.4,1008.8,6.000000,1.000000,11.4,15.1
3,7.7,15.1,0.6,26.0,20.0,13.0,82.0,66.0,1023.7,1025.4,8.000000,7.000000,10.8,14.0
4,4.4,15.9,0.0,24.0,4.0,13.0,93.0,63.0,1031.3,1029.1,8.000000,7.000000,10.4,14.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5789,22.1,35.8,63.8,43.0,17.0,31.0,77.0,41.0,997.8,995.2,4.000000,2.000000,26.0,33.5
5790,22.6,36.8,0.0,50.0,30.0,15.0,63.0,39.0,1000.0,998.8,4.965923,4.967635,29.7,34.0
5791,23.2,38.0,0.0,33.0,17.0,17.0,25.0,14.0,1004.4,1001.0,4.965923,4.967635,28.7,36.4
5792,19.7,37.0,0.0,37.0,22.0,6.0,30.0,23.0,1004.6,1000.9,4.965923,4.967635,28.2,35.1
5793,23.7,33.0,0.0,46.0,24.0,17.0,40.0,38.0,1005.1,1002.7,5.000000,4.967635,30.1,31.5

In [248]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(max_depth=7)

rf.fit(X_train, y_train['RainTomorrow'])
rf.score(X_train, y_train['RainTomorrow'])

0.8602526890899778

In [249]:
y_pred = rf.predict(X_test)
y_pred

array([0, 1, 1, ..., 0, 0, 0], dtype=int64)

In [250]:
rf.score(X_test, y_test['RainTomorrow'])

0.8280980324473594

In [251]:
## auc로 평가
from sklearn.metrics import roc_curve, auc

fpr, tpr, thresholds = roc_curve(y_test['RainTomorrow'], y_pred)

In [252]:
auc = auc(fpr, tpr)
auc

0.682896090007935