## 당뇨병 여부 판단
- 이상치 처리 (Glucose, BloodPressure, SkinThickness, Insulin, BMI가 0인 값)

In [120]:
# 시험환경 세팅 (코드 변경 X)
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

def exam_data_load(df, target, id_name="", null_name=""):
    if id_name == "":
        df = df.reset_index().rename(columns={"index": "id"})
        id_name = 'id'
    else:
        id_name = id_name
    
    if null_name != "":
        df[df == null_name] = np.nan
    
    X_train, X_test = train_test_split(df, test_size=0.2, random_state=2021)
    
    y_train = X_train[[id_name, target]]
    X_train = X_train.drop(columns=[target])

    
    y_test = X_test[[id_name, target]]
    X_test = X_test.drop(columns=[target])
    return X_train, X_test, y_train, y_test 
    
df = pd.read_csv("../data/diabetes.csv")
X_train, X_test, y_train, y_test = exam_data_load(df, target='Outcome')

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((614, 9), (154, 9), (614, 2), (154, 2))

In [50]:
import pandas as pd

X_train.head()

,id,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
147,147,2,106,64,35,119,30.5,1.400,34
344,344,8,95,72,0,0,36.8,0.485,57
390,390,1,100,66,29,196,32.0,0.444,42
150,150,1,136,74,50,204,37.4,0.399,24
132,132,3,170,64,37,225,34.5,0.356,30

In [5]:
y_train.head()

      id  Outcome
147  147        0
344  344        0
390  390        0
150  150        0
132  132        1

In [9]:
# Glucose, BloodPressure, SkinThickness, Insulin, BMI가 0인 값
X_train[X_train['Glucose']==0]

,id,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
182,182,1,0,74,20,23,27.7,0.299,21
75,75,1,0,48,20,0,24.7,0.140,22
342,342,1,0,68,35,0,32.0,0.389,22
502,502,6,0,68,41,0,39.0,0.727,41
349,349,5,0,80,32,0,41.0,0.346,37

In [10]:
X_test[X_test['Glucose']==0]

Empty DataFrame
Columns: [id, Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age]
Index: []

In [15]:
X_train['BloodPressure'][X_train['BloodPressure']==0].count()

31

In [18]:
X_test[X_test['BloodPressure']==0]

,id,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
697,697,0,99,0,0,0,25.0,0.253,22
269,269,2,146,0,0,0,27.5,0.240,28
222,222,7,119,0,0,0,25.2,0.209,37
347,347,3,116,0,0,0,23.5,0.187,23

In [33]:
# Glucose, BloodPressure, SkinThickness, Insulin, BMI가 0인 값
len(X_train[(X_train['Glucose']==0) | (X_train['BloodPressure']==0) | (X_train['SkinThickness']==0) \
         | (X_train['Insulin']==0) | (X_train['BMI']==0)])

289

In [32]:
len(X_test[(X_test['Glucose']==0) | (X_test['BloodPressure']==0) | (X_test['SkinThickness']==0) \
         | (X_test['Insulin']==0) | (X_test['BMI']==0)])

87

In [38]:
print('glucose:', len(X_train[X_train['Glucose']==0]))
print('bp:', len(X_train[X_train['BloodPressure']==0]))
print('SkinT:', len(X_train[X_train['SkinThickness']==0]))
print('insulin:', len(X_train[X_train['Insulin']==0]))
print('BMI:', len(X_train[X_train['BMI']==0]))

glucose: 5
bp: 31
SkinT: 175
insulin: 287
BMI: 9

In [39]:
print('glucose:', len(X_test[X_test['Glucose']==0]))
print('bp:', len(X_test[X_test['BloodPressure']==0]))
print('SkinT:', len(X_test[X_test['SkinThickness']==0]))
print('insulin:', len(X_test[X_test['Insulin']==0]))
print('BMI:', len(X_test[X_test['BMI']==0]))

glucose: 0
bp: 4
SkinT: 52
insulin: 87
BMI: 2

In [34]:
len(X_train)

614

In [35]:
X_train.isnull().sum()

id                          0
Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
dtype: int64

In [36]:
X_test.isnull().sum()

id                          0
Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
dtype: int64

In [121]:
# X_train에만 있는 glucose는 삭제
drop_idx = X_train[X_train['Glucose']==0].index
drop_idx

Int64Index([182, 75, 342, 502, 349], dtype='int64')

In [122]:
X_train = X_train.drop(drop_idx)
y_train = y_train.drop(drop_idx)

In [123]:
len(X_train)

609

In [124]:
# 나머지 0값들은 평균으로 대체

bp_mean = X_train['BloodPressure'].mean()
st_mean = X_train['SkinThickness'].mean()
insulin_mean = X_train['Insulin'].mean()
bmi_mean = X_train['BMI'].mean()

X_train['BloodPressure'] = X_train['BloodPressure'].replace(0, bp_mean)
X_train['SkinThickness'] = X_train['SkinThickness'].replace(0, st_mean)
X_train['Insulin'] = X_train['Insulin'].replace(0, insulin_mean)
X_train['BMI'] = X_train['BMI'].replace(0, bmi_mean)

In [125]:
X_train[X_train['BloodPressure']==0]

Empty DataFrame
Columns: [id, Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age]
Index: []

In [126]:
X_train[X_train['Insulin']==0]

Empty DataFrame
Columns: [id, Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age]
Index: []

In [127]:
# X_test에서도 0값들 평균 대체
bp_mean = X_test['BloodPressure'].mean()
st_mean = X_test['SkinThickness'].mean()
insulin_mean = X_test['Insulin'].mean()
bmi_mean = X_test['BMI'].mean()

X_test['BloodPressure'] = X_test['BloodPressure'].replace(0, bp_mean)
X_test['SkinThickness'] = X_test['SkinThickness'].replace(0, st_mean)
X_test['Insulin'] = X_test['Insulin'].replace(0, insulin_mean)
X_test['BMI'] = X_test['BMI'].replace(0, bmi_mean)

In [65]:
X_test[X_test['Insulin']==0]

Empty DataFrame
Columns: [id, Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age]
Index: []

In [66]:
X_train.head()

,id,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
147,147,2,106,64.0,35.0,119.0,30.5,1.400,34
344,344,8,95,72.0,20.9,82.9,36.8,0.485,57
390,390,1,100,66.0,29.0,196.0,32.0,0.444,42
150,150,1,136,74.0,50.0,204.0,37.4,0.399,24
132,132,3,170,64.0,37.0,225.0,34.5,0.356,30

In [67]:
y_train.head()

      id  Outcome
147  147        0
344  344        0
390  390        0
150  150        0
132  132        1

In [128]:
X_train = X_train.drop('id', axis=1)
X_test = X_test.drop('id', axis=1)

In [129]:
# 랜덤포레스트로 당뇨병 여부 판단
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()
rf.fit(X_train, y_train['Outcome'])

y_pred = rf.predict(X_test)
y_pred

array([1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0],
      dtype=int64)

In [130]:
rf.score(X_train,  y_train['Outcome'])         # 과적합인듯

1.0

In [131]:
## 스케일링을 해보자
# 먼저, 각 컬럼의 분포확인 

X_train['Pregnancies'].value_counts()

1     105
0      89
2      86
3      56
4      54
5      44
6      42
7      33
8      29
9      23
10     22
13      8
11      8
12      6
14      2
15      1
17      1
Name: Pregnancies, dtype: int64

In [132]:
X_train['Glucose'].value_counts()

100    16
99     15
95     12
102    12
105    11
       ..
193     1
195     1
172     1
169     1
186     1
Name: Glucose, Length: 128, dtype: int64

In [133]:
from sklearn.preprocessing import StandardScaler

cols = ['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age']
scaler = StandardScaler()
X_train[cols] = scaler.fit_transform(X_train[cols])
X_test[cols] = scaler.fit_transform(X_test[cols])

In [146]:
rf = RandomForestClassifier(max_depth=3)          # 학습방법을 조정하니 과적합에서 조금 덜 과적합이 된 듯..ㅎㅎ
rf.fit(X_train, y_train['Outcome'])

y_pred = rf.predict(X_test)
y_pred

array([0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
      dtype=int64)

In [147]:
# 훈련 정확도
rf.score(X_train, y_train['Outcome'])

0.8078817733990148

In [148]:
# 테스트 정확도
rf.score(X_test, y_test['Outcome'])

0.7207792207792207

### 느낀점
- 찾아보니 랜덤포레스트가 다른 분류 방법에 비해 과적합이 잘 발생한다고 함..
- 매개변수 max_depth로 트리 깊이를 조정하는 게 중요한듯
- max_depth 사용하지 않았을 때: 훈련 정확도가 1.0
- max_depth=5: 훈련 정확도 0.85
- max_depth=3: 훈련 정확도 0.8