## 1. 로지스틱 회귀
## Pclass, Gender, sibsp, parch를 독립변수로 사용하여 로지스틱 회귀모형을 실시하였을 때, parch변수의 계수값은? 단, Pclass는 범주형 변수이다
(반올림하여 소수 셋째 자리까지 계산)

In [1]:
import pandas as pd
df = pd.read_csv("../data/Titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
from statsmodels.formula.api import logit

result = logit('Survived~Pclass+Gender+SibSp+Parch', data=df).fit().params
print(result)

Optimization terminated successfully.
         Current function value: 0.459658
         Iterations 6
Intercept         3.459608
Gender[T.male]   -2.762364
Pclass           -0.939161
SibSp            -0.234018
Parch            -0.050260
dtype: float64

In [3]:
print(round(result['Parch'], 3))

-0.05

<br><br>

## 2. 두 그룹 평균비교 (t통계량, f통계량)
## 문제: 두 교육 방법의 효과 비교
연구자는 두 가지 다른 교육 방법이 학생들의 성적에 미치는 영향을 비교하고자 합니다. 연구자는 무작위로 선발된 20명의 학생들을 두 그룹으로 나누어 한 그룹에는 교육 방법 A를, 다른 그룹에는 교육 방법 B를 적용합니다. 교육이 끝난 후, 두 그룹의 성적을 비교하기 위해 독립 표본 t-검정과 ANOVA F-검정을 실시하려고 합니다.

다음은 두 그룹의 성적입니다:
다음의 두 가지 검정을 사용하여 두 교육 방법 간의 성적 차이가 통계적으로 유의한지를 검증하세요

1. 독립 표본 t-검정을 실시하여 t 통계량을 구하세요.
2. 독립 표본 t-검정을 실시하여 p-값을 구하세요.
3. ANOVA F-검정을 실시하여 F 통계량을 구하세요.
4. ANOVA F-검정을 실시하여 p-값을 구하세요.

In [4]:
import pandas as pd
df = pd.DataFrame({
    'A':[77, 75, 82, 80, 81, 83, 84, 76, 75, 87],
    'B':[80, 74, 77, 79, 71, 74, 78, 69, 70, 72],
})

In [9]:
# 1. 독립표본 t검정
from scipy.stats import ttest_ind
t_val, p_val = ttest_ind(df['A'], df['B'])

print(t_val)
print(p_val)
if p_val<0.05:
    print('p_val < 0.05 이므로 귀무가설 기각, 두 교육 방법의 차이가 있다.')
else:
    print('대립가설 기각, 두 교육 방법의 차이가 없다.')

3.1068522301122954
0.006087373605949963
p_val < 0.05 이므로 귀무가설 기각, 두 교육 방법의 차이가 있다.

In [10]:
# 2. ANOVA f검정
from scipy.stats import f_oneway
f_val, p_val = f_oneway(df['A'], df['B'])

print(f_val)
print(p_val)
if p_val<0.05:
    print('p_val < 0.05 이므로 귀무가설 기각, 두 교육 방법의 차이가 있다.')
else:
    print('대립가설 기각, 두 교육 방법의 차이가 없다.')

9.652530779753763
0.006087373605949924
p_val < 0.05 이므로 귀무가설 기각, 두 교육 방법의 차이가 있다.

<br><br>
## 3. 적합도 검정(카이제곱 검정)
### 카이제곱 적합도 검정
고등학교에서는 졸업생들이 선택하는 대학 전공 분야의 선호도가 시간이 지남에 따라 변하지 않는다고 가정합니다. 학교 측은 최근 졸업생들의 전공 선택이 과거와 같은 패턴을 따르는지 알아보기 위해 적합도 검정을 실시하기로 결정했습니다.

과거 자료에 따르면 졸업생들이 선택하는 전공의 분포는 다음과 같습니다:

인문학: 20% 사회과학: 30% 자연과학: 25% 공학: 15% 기타: 10% 올해 졸업한 학생 200명의 전공 선택 분포는 다음과 같았습니다:

인문학: 30명 사회과학: 60명 자연과학: 50명 공학: 40명 기타: 20명 이 데이터를 바탕으로, 졸업생들의 전공 선택 패턴이 과거와 유사한지를 알아보기 위해 카이제곱 적합도 검정을 실시해야 합니다. 유의 수준은 0.05로 설정합니다.

1. 검정 통계량?
2. p-value?
3. 유의수준 하 귀무가설 기각 또는 채택?

In [1]:
# 관찰된 빈도
observed = [30, 60, 50, 40, 20]

# 과거 자료 빈도
prev = [200*0.2, 200*0.3, 200*0.25, 200*0.15, 200*0.1]

print(prev)

[40.0, 60.0, 50.0, 30.0, 20.0]

In [4]:
from scipy.stats import chisquare
chi, p_val = chisquare(observed, prev)

print(chi)
print(p_val)

if p_val < 0.05:
    print('귀무가설 기각, 올해 졸업생들의 전공 선택 패턴이 과거와 유사하지 않다.')
else:
    print('귀무가설 채택, 올해 졸업생들의 전공 선택 패턴이 과거와 유사하다.')

5.833333333333334
0.21194558437271782
귀무가설 채택, 올해 졸업생들의 전공 선택 패턴이 과거와 유사하다.

## 정리
### 로지스틱 회귀에서 계수 값
- 라이브러리 import: from statsmodels.formula.api import logit
- 계수 값 확인: logit('종속변수~독립변수1+독립변수2+..', data).fit().params

### 독립표본 t검정
- from scipy.stats import ttest_ind

### 일원배치 분산분석(ANOVA)
- from scipy.stats import f_oneway
- f_oneway(group1, group2, ...)

### 적합도 검정(카이제곱 검정)
- from scipy.stats import chisquare
- chisquare(f_obs, f_exp): f_obs는 관측값, f_exp는 예상값