## 1. 베르누이 분포와 이항분포
### [베르누이 분포] 다음 데이터는 100번의 시도에서 각각 성공(1) 또는 실패(0)를 나타냅니다. 이 데이터를 바탕으로 각 시도의 성공 확률을 계산하시오.
### [이항분포] 1번 문제에서 계산한 성공 확률을 사용하여, 100번의 시도 중 정확히 60번 성공할 확률을 계산하시오.

In [1]:
import pandas as pd

df = pd.read_csv('../data/t3_success.csv')
df.head()

   Success
0        1
1        0
2        0
3        1
4        1

In [2]:
df.isnull().sum()

Success    0
dtype: int64

In [8]:
success = len(df[df['Success']==1])
fail = len(df)-success
print(success, fail)

62 38

In [6]:
# 1. 베르누이 분포
print(success/len(df))

0.62

In [9]:
# 2. 이항분포
### scipy.stats의 binom
s_rate = success/len(df)

from scipy.stats import binom

n = 100  # 시도 횟수
k = 60   # 성공 횟수
prob = binom.pmf(k, n, s_rate)
print(prob)

0.07464985555860272

<br><br>
## 2. 점 추정과 구간 추정
데이터셋은 어떤 도시의 일일 평균 온도 입니다.

- 점추정: 데이터셋을 기반으로 이 도시의 평균 연간 온도를 점추정하세요. (반올림하여 소수 둘째자리까지)
- 구간추정: 95% 신뢰수준에서 이 도시의 평균 연간 온도에 대한 신뢰구간을 구하세요.  (반올림하여 소수 둘째자리까지)

In [10]:
import pandas as pd
temperature = pd.read_csv("../data/daily_temperatures.csv")

temperature.head()

   Daily Average Temperature
0                  28.820262
1                  22.000786
2                  24.893690
3                  31.204466
4                  29.337790

In [12]:
# 1. 점추정
mean_temp = temperature.iloc[:, 0].mean()
print(round(mean_temp, 2))

19.94

In [14]:
# 2. 구간추정
from scipy import stats

conf = 0.95
std = temperature.iloc[:, 0].std()
n = len(temperature)

sem = stats.sem(temperature.iloc[:, 0])

# conf: 신뢰수준, df: 자유도, loc: 분포의 평균, scale: 
confidence_interval = stats.t.interval(conf, df=n-1, loc=mean_temp, scale=sem)
print(confidence_interval)

(19.427887094620395, 20.44726799333666)