## 1. 로지스틱 회귀2
### 고객 정보를 나타낸 데이터이다. 주어진 데이터에서 500개 중 앞에서부터 350개는 train으로, 150개는 test 데이터로 나눈다. 모델을 학습(적합)할 때는 train 데이터를 사용하고, 예측할 때는 test 데이터를 사용한다. 모델은 로지스틱 회귀를 써서 고객이 특정 제품을 구매할지 여부를 예측하되, 페널티는 부과하지 않는다.

종속변수: purchase (0: 구매 안 함, 1: 구매 함)

- 문제 1-1. income 변수를 독립변수로 purchase를 종속변수로 사용하여 로지스틱 회귀 모형을 만들고, income 변수가 한 단위 증가할 때 구매할 오즈비 값을 계산하시오. (반올림하여 소수 넷째자리까지 계산)

- 문제 1-2. 독립변수 income만 사용해 학습한 모델에서 test 데이터의 purchase를 예측하고, accuracy (정확도)를 구하시오. (반올림하여 소수 셋째자리까지 계산)

- 문제 1-3. 독립변수 income만 사용해 학습한 모델의 로짓 우도를 계산하시오.

- 문제 1-4. 독립변수 income만 사용해 학습한 모델의 유의확률(p-value)를 구하시오.

In [1]:
import pandas as pd
df = pd.read_csv("../data/Customer_Data.csv")
df.head()

   age  income  marital_status  children  gender  purchase
0   62  111980               1         2       1         0
1   65  107314               0         3       1         0
2   18   56209               1         1       1         1
3   21   28010               1         3       0         1
4   21   79618               0         2       0         1

In [2]:
train, test = df[:350], df[350:]
train.shape, test.shape

((350, 6), (150, 6))

In [3]:
# 1-1. income 변수를 독립변수로 purchase를 종속변수로 사용하여 로지스틱 회귀 모형
from statsmodels.formula.api import logit
import numpy as np

logit = logit('purchase~income', train).fit()
print(logit.params['income'])

# 오즈비 계산
odds = np.exp(logit.params['income'])
print(round(odds, 4))

Optimization terminated successfully.
         Current function value: 0.692599
         Iterations 3
1.960178655329331e-06
1.0

In [4]:
# 1-2. income만 사용해 학습한 모델에서 test 데이터의 purchase를 예측하고, accuracy (정확도)를 구하시오.
pred = logit.predict(test)
print(pred)

## 로지스틱 회귀는 0.5를 기준으로 1, 0 분류
pred = (pred > 0.5).astype('int')
acc = (pred == test['purchase']).mean()
print(round(acc, 3))

350    0.527160
351    0.511911
352    0.500900
353    0.515729
354    0.531142
         ...
495    0.505633
496    0.510003
497    0.531486
498    0.487162
499    0.511403
Length: 150, dtype: float64
0.507

In [5]:
# 1-3. 독립변수 income만 사용해 학습한 모델의 로짓 우도
print(logit.llf)

-242.40981957168498

In [6]:
# 1-4. p-value
print(logit.pvalues['income'])

0.5964910811075125

<br><br>
## 2.비모수검정(wilcoxon)
### 베스킨라빈스는 쿼트(Quart) 아이스크림의 중앙값이 620g이라고 주장하고 있습니다. 저는 실제로 이 아이스크림의 중앙값이 620g보다 무겁다고 주장합니다. 다음은 20개의 쿼트 아이스크림 샘플의 무게 측정 결과입니다. 이 측정 결과를 바탕으로 나의 주장이 사실인지 비모수 검정(Wilcoxon Signed-Rank Test)을 통해 검정해보십시오. p-value값을 반올림하여 소수점 둘째 자리까지 계산

- 귀무가설: "베스킨라빈스 쿼트 아이스크림의 중앙값은 620g이다."
- 대립가설: "베스킨라빈스 쿼트 아이스크림의 중앙값은 620g보다 무겁다."

In [7]:
import pandas as pd
data = {
    "weight": [630, 610, 625, 615, 622, 618, 623, 619, 620, 624, 616, 621, 617, 629, 626, 620, 618, 622, 625, 615, 
               628, 617, 624, 619, 621, 623, 620, 622, 618, 625, 616, 629, 620, 624, 617, 621, 623, 619, 625, 618,
               622, 620, 624, 617, 621, 623, 619, 625, 618, 622]
}
df = pd.DataFrame(data)

In [21]:
from scipy.stats import wilcoxon

st, p_val = wilcoxon(df['weight'] - 620, alternative = "greater")
print(p_val)
print(round(result.pvalue, 2))

0.029661945180945556
0.03

<br><br>
## 3. 잔차이탈도
### 고객 정보를 나타낸 데이터이다. 주어진 데이터에서 500개 중 앞에서부터 300개는 train으로, 200개는 test 데이터로 나눈다. 모델을 학습(적합)할 때는 train 데이터를 사용하고, 예측할 때는 test 데이터를 사용한다. 모델은 로지스틱 회귀를 써서 고객이 특정 제품을 구매할지 여부를 예측하되, 페널티는 부과하지 않는다.

종속변수: purchase (0: 구매 안 함, 1: 구매 함)

Q. age, income, marital_status 변수를 독립변수로 purchase를 종속변수로 사용하여 로지스틱 회귀 모형을 만들고, 잔차이탈도를 구하시오. (반올림하여 소수 넷째자리까지 계산)

In [22]:
import pandas as pd
df = pd.read_csv("../data/Customer_Data.csv")
df.head()

   age  income  marital_status  children  gender  purchase
0   62  111980               1         2       1         0
1   65  107314               0         3       1         0
2   18   56209               1         1       1         1
3   21   28010               1         3       0         1
4   21   79618               0         2       0         1

In [23]:
train, test = df[:300], df[300:]
train.shape, test.shape

((300, 6), (200, 6))

In [24]:
from statsmodels.formula.api import logit
logit = logit('purchase~age+income+marital_status', train).fit()
logit.params

Optimization terminated successfully.
         Current function value: 0.687415
         Iterations 4

Intercept         0.340700
age              -0.009367
income            0.000004
marital_status   -0.219173
dtype: float64

In [27]:
# 잔차이탈도 = -2*loglikelihood(로짓우도)
print(round(-2*logit.llf, 2))

412.45