## 9. 수치형 변수 변환하기


### 주어진 데이터에서 'f5'컬럼을 표준화(Standardization (Z-score Normalization))하고 그 중앙값을 구하시오
- 데이터셋 : basic1.csv

In [23]:
import pandas as pd

df = pd.read_csv('../data/basic1.csv')

df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [31]:
# z score 표준화: x-x평균/x표준편차

average = df['f5'].mean()
std = df['f5'].std(ddof=1)

z_score = (df['f5']-average)/std
z_score

0     1.214696
1     0.126705
2    -1.387545
3    -0.142947
4    -0.965222
        ...
95   -0.142947
96    0.391922
97    1.465348
98    1.428486
99   -0.823270
Name: f5, Length: 100, dtype: float64

In [32]:
print(z_score.median())

0.25931325727460064

In [28]:
# 방법2. standard scaler 사용
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df['f5'] = scaler.fit_transform(df[['f5']])
df['f5']

0     1.220815
1     0.127343
2    -1.394535
3    -0.143667
4    -0.970085
        ...
95   -0.143667
96    0.393896
97    1.472730
98    1.435683
99   -0.827418
Name: f5, Length: 100, dtype: float64

In [29]:
print(df['f5'].median())

0.26061962955901474

In [37]:
## 같은 z-score 정규화인데 결과가 다르다
## standard scaler를 사용하는게 안전할 듯...

<br><br>
## 11. min-max스케일링 기준 상하위 5% 구하기
### 주어진 데이터에서 'f5'컬럼을 min-max 스케일 변환한 후, 상위 5%와 하위 5% 값의 합을 구하시오
- 데이터셋: basic1.csv

In [38]:
import pandas as pd

df = pd.read_csv('../data/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [40]:
len(df)

100

In [42]:
# 방법1. 직접 계산
# min-max 정규화

min_max = (df['f5']-df['f5'].min()) / (df['f5'].max() - df['f5'].min())
min_max

0     0.919533
1     0.570252
2     0.084129
3     0.483685
4     0.219708
        ...
95    0.483685
96    0.655395
97    1.000000
98    0.988166
99    0.265279
Name: f5, Length: 100, dtype: float64

In [47]:
min_max = min_max.sort_values(ascending=False)
min_max[:10]

10    1.000000
9     1.000000
76    1.000000
97    1.000000
98    0.988166
91    0.988166
86    0.988166
71    0.988166
11    0.919533
19    0.919533
Name: f5, dtype: float64

In [50]:
top_5 = min_max.iloc[int(100*0.05)]
top_5

0.9881662742993513

In [52]:
low_5 = min_max.iloc[-int(100*0.05)]
low_5

0.03670782406038746

In [53]:
print(top_5 + low_5)

1.0248740983597389

In [55]:
# 방법2. scaler 사용

# min-max scale 방법1
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df['f5_1'] = scaler.fit_transform(df[['f5']])

# 하위 5%, 상위 5% 값 구하기
lower = df['f5_1'].quantile(0.05)
print(lower)

upper = df['f5_1'].quantile(0.95)
print(upper)

print(lower + upper)

0.03670782406038746
0.9881662742993513
1.0248740983597389

<br><br>

## 12. 주어진 데이터에서 상위 10개 국가의 접종률 평균과 하위 10개 국가의 접종률 평균을 구하고, 그 차이를 구해보세요 
## (단, 100%가 넘는 접종률 제거, 소수 첫째자리까지 출력)
- 데이터셋 : /covid-vaccination-vs-death_ratio/covid-vaccination-vs-death_ratio.csv

In [148]:
import pandas as pd

df = pd.read_csv('../data/covid-vaccination-vs-death_ratio/covid-vaccination-vs-death_ratio.csv')
df.head()

,Unnamed: 0,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
0,0,Afghanistan,AFG,2021-05-11,504502.0,448878.0,55624.0,12,40374668.0,1.111781
1,1,Afghanistan,AFG,2021-05-20,547901.0,470341.0,77560.0,10,40374668.0,1.164941
2,2,Afghanistan,AFG,2021-05-24,573277.0,476367.0,96910.0,10,40374668.0,1.179866
3,3,Afghanistan,AFG,2021-05-26,590454.0,479372.0,111082.0,19,40374668.0,1.187309
4,4,Afghanistan,AFG,2021-05-27,593313.0,479574.0,113739.0,14,40374668.0,1.187809

In [132]:
df.shape

(32911, 10)

In [133]:
df['country'].value_counts()

United States of America       471
Israel                         466
Switzerland                    463
Germany                        458
Estonia                        458
                              ...
Tuvalu                           4
Niue                             4
Turkmenistan                     3
Falkland Islands (Malvinas)      2
Tokelau                          1
Name: country, Length: 197, dtype: int64

In [134]:
df = df.sort_values('ratio', ascending=False)
df

,Unnamed: 0,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
11368,11368,Gibraltar,GIB,2022-03-24,116358.0,42034.0,41228.0,0,33698.0,124.737373
11367,11367,Gibraltar,GIB,2022-03-23,115847.0,42028.0,41205.0,0,33698.0,124.719568
11366,11366,Gibraltar,GIB,2022-03-22,115581.0,42026.0,41123.0,0,33698.0,124.713633
11365,11365,Gibraltar,GIB,2022-03-21,115273.0,42025.0,41119.0,0,33698.0,124.710665
11364,11364,Gibraltar,GIB,2022-03-15,114420.0,42012.0,40969.0,0,33698.0,124.672087
...,...,...,...,...,...,...,...,...,...,...
14351,14351,Israel,ISR,2020-12-19,70.0,66.0,4.0,16,8868656.0,0.000744
18817,18817,Malaysia,MYS,2021-02-24,66.0,63.0,3.0,14,33015425.0,0.000191
28860,28860,Switzerland,CHE,2020-12-22,3.0,3.0,1.0,89,8752564.0,0.000034
23516,23516,Peru,PER,2021-02-08,9.0,7.0,2.0,646,33587011.0,0.000021
28859,28859,Switzerland,CHE,2020-12-21,1.0,1.0,1.0,99,8752564.0,0.000011

In [150]:
# ratio > 100인 데이터 제거
df = df[df['ratio'] <= 100]
df

,Unnamed: 0,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
0,0,Afghanistan,AFG,2021-05-11,504502.0,448878.0,55624.0,12,40374668.0,1.111781
1,1,Afghanistan,AFG,2021-05-20,547901.0,470341.0,77560.0,10,40374668.0,1.164941
2,2,Afghanistan,AFG,2021-05-24,573277.0,476367.0,96910.0,10,40374668.0,1.179866
3,3,Afghanistan,AFG,2021-05-26,590454.0,479372.0,111082.0,19,40374668.0,1.187309
4,4,Afghanistan,AFG,2021-05-27,593313.0,479574.0,113739.0,14,40374668.0,1.187809
...,...,...,...,...,...,...,...,...,...,...
32906,32906,Zimbabwe,ZWE,2022-03-25,8691642.0,4814582.0,3473523.0,2,15229891.0,31.612715
32907,32907,Zimbabwe,ZWE,2022-03-26,8791728.0,4886242.0,3487962.0,2,15229891.0,32.083237
32908,32908,Zimbabwe,ZWE,2022-03-27,8845039.0,4918147.0,3493763.0,1,15229891.0,32.292726
32909,32909,Zimbabwe,ZWE,2022-03-28,8934360.0,4975433.0,3501493.0,1,15229891.0,32.668868
32910,32910,Zimbabwe,ZWE,2022-03-29,9039729.0,5053114.0,3510256.0,0,15229891.0,33.178924

In [151]:
countries = df.groupby('country')['ratio'].max()
ratio_ = countries.sort_values(ascending=False)
ratio_

country
Malta                   99.938239
Gibraltar               99.284824
United Arab Emirates    98.397065
Portugal                95.204947
Cuba                    93.972331
                          ...
Papua New Guinea         3.439691
Yemen                    2.083710
Chad                     1.639191
Haiti                    1.408404
Burundi                  0.083178
Name: ratio, Length: 197, dtype: float64

In [152]:
print(ratio_[:10])
print(ratio_[-10:])

country
Malta                   99.938239
Gibraltar               99.284824
United Arab Emirates    98.397065
Portugal                95.204947
Cuba                    93.972331
Chile                   92.654748
Brunei Darussalam       91.899582
Cayman Islands          90.777028
Iceland                 89.880631
Argentina               89.224604
Name: ratio, dtype: float64
country
United Republic of Tanzania    6.302860
Mali                           6.278956
Cameroon                       4.882577
South Sudan                    4.578634
Madagascar                     3.806883
Papua New Guinea               3.439691
Yemen                          2.083710
Chad                           1.639191
Haiti                          1.408404
Burundi                        0.083178
Name: ratio, dtype: float64

In [154]:
max_ratio = ratio_[:10].mean()
min_ratio = ratio_[-10:].mean()
print(max_ratio)
print(min_ratio)

94.12339968602072
3.4504083912453525

In [155]:
print(round(max_ratio - min_ratio, 1))

90.7